body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   /* width: 100%; */
   margin: 20px 150px;
}

header {
    /* background: #000; */
    background-image: url('./assets/imgs/hero\ image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    gap: 100px;
}
header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .contact-info .btn {
    background: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    color: #ff6600;
    margin-top: 300px;
    margin-bottom: 200px;
    text-align: center;
    width: 900px;
    font-size: 35px;
    font-family: Tinos;
    line-height: 1.5;
    p{
        font-size: 18px;
        color: #fff;
    }
    span{
        font-size: 80px;
    }
}

.hero .btn {
    background: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.about {
    padding: 50px 0;
    text-align: center;
}

.about .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about .stat {
    text-align: center;
}

.menu {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.menu .dishes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.menu .dish img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.gallery {
    padding: 50px 0;
    text-align: center;
}

.gallery .gallery-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery .gallery-images img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.chefs {
    background: #fff;
    padding: 50px 0;
    text-align: center;
}
.chefs p{
    font-family: Tinos;
    font-size: 54px;

}
.chefs p span{
    color: #ff6600;
}

.chefs .chefs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
footer img {
    width: 100%;
}